<!-- LOGIN -->
<form ng-controller="LoginCtrl" ng-submit="login()">
    <h2>Login</h2>

    <div class="form-group">
        <label for="txtEmail">Email address</label>
        <input type="email" class="form-control" id="txtEmail" ng-model="username" placeholder="Enter email" name="email"/>
    </div>
    <div class="form-group">
        <label for="txtPass">Password</label>
        <input type="password" class="form-control" id="txtPass" ng-model="password" placeholder="Password" name="password"/>
    </div>
    <button type="submit" class="btn btn-success">Login</button>
    <br/>
    <br/>
    <h4>Login with</h4>
    <a href="#" class="btn btn-primary bt-social" data-provider="facebook">Facebook</a>
    <a href="#" class="btn btn-info bt-social" data-provider="twitter">Twitter</a>

</form>
<!-- / LOGIN -->