<!-- REGISTER -->
<form ng-controller="RegisterCtrl" ng-submit="register()" role="form">
    <h2>Register</h2>
    <div class="form-group">
        <label for="txtRegEmail">Email address</label>
        <input type="email" class="form-control" id="txtRegEmail" placeholder="Enter email" name="email" ng-model="email"/>
    </div>
    <div class="form-group">
        <label for="txtRegPass">Password</label>
        <input type="password" class="form-control" id="txtRegPass" placeholder="Password" name="password" ng-model="password"/>
    </div>
    <div class="form-group">
        <label for="txtRegPhone">Password</label>
        <input type="number" class="form-control" id="txtRegPhone" placeholder="Phone" name="password" ng-model="phone"/>
    </div>
    <button type="submit" class="btn btn-default">Register</button>
</form>
<!-- / REGISTER -->